{{>partials/header.hbs}}

<p class="hello">Hello everyone. This is a quickly built website by Rolando Islas
. I hope to update it soon.</p>

{{>posts/post_initial_post.hbs}}

{{>partials/footer.hbs}}
