<html>
<head>
<title>Rolando Islas | ElegantBanshee</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<p class="hello">Hello everyone. This is a quickly built website by Rolando Islas
. I hope to update it soon.</p>
<p class="date">Saturday, October 23, 2021 - 4:17pm</p>
<p class="blog">Howdy. This is only a test blog for now, however I would 
like to update it at some point. Inspecting the code will find you  
simple CSS and JavaScript.</p>
</html>
