<html>
<head>
<title>Rolando Islas | ElegantBanshee</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<p class="hello">Hello everyone. This is a quickly built website by Rolando Islas
. I hope to update it soon.</p>
</html>
