<p class="header"><a href="/post/an_actual_post">An Actual Post</a></p>
<p class="date">Saturday, October 25, 2021 - 10:06pm</p>
<p class="blog">Hello again. This is the first actual (non-short) post 
on this website. It has been a while since I have managed to speak 
online, however, I do not have much in the way of updates. 
GPG is dead as well as all my original domains. Oh woe is me. Am I 
right? My emails have also died, but I am looking to the 
future when I can use rolando.org as a email domain.</p>
<br>
<p class="blog">Hopefully I can add a joke to the 
<a href="/post/a_foot">A foot?</a> post. I intend to scrape 
Reddit and add the top /r/feet post. I feel it will go well. 
Other developemnt projects include a 2D, turn-based, tile-based 
MOBA and possibly some ports of Reddit game subreddits to websites.</p>
<br>
<p class="blog">The nights are colder. The days are shorter. And 
I am using a a Raspberry Pi 400. It is not as robust and powerful as 
my previous system, but, it does get the job done.</p>
