.hello {
    font-size: 28px;
    width: 70%;
    margin: 50px auto 50px auto;
}

.blog {
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

.header {
    font-size: 28px;
    width: 70%;
    margin: 10px auto;
}

.header a {
    color: #000;
    text-decoration: overline;
    font-weight: bold;
 }

.header a:visited {
    color: #000;
    text-decoration: overline;
    font-weight: bold;
 }

.date {
    font-size: 18px;
    width: 70%;
    margin: 10px auto;
}

.image {
    margin: 0 auto;
    display: block;
    width: 70%;
}